.odd{
    background-color: rgb(215, 88, 109);
    font-family: Verdana, DejaVu Sans,sans-serif;
}

#second-element{
    color: blue;
    font-size: 36px;
}

.odd.dif-font{
    font-size: 24px;
}

#fourth-element{
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}