body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;

  display: flex;
  justify-content: left;
  align-items:center;

  font-weight: 900;
  font-size: 32px;
  padding-left: 16px;

}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;


  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
}

.sidebar {
  width: 400px;
  background: royalblue;
  box-sizing: border-box;

  flex: 1,0,100%;
  padding: 16px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;


}

body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content{
  flex: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

ul{
  list-style-type: none;
  width: 300px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: start;
  padding: 0px;
  margin: 0px;
  gap: 20px;
}

a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.cards{
  padding: 48px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  
}

.card{
  height: 300px;
  width: 300px;
  flex: 2,0,50%;
}