* {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
}
body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 420px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  font-family: JetBrains Mono,serif;
  background: #e3f4ff;
  padding: 5px;
}

.content {
  background: #e3f4ff;
  padding: 5px;
  width: 410px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 145px;
  padding-right: 145px;
  height: auto;
  width: 130px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: inline;
}